<?xml version='1.0' encoding='utf-8'?>
<Server port="-1" shutdown="SHUTDOWN">
  <Service name="Catalina">
    <Connector port="18088" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">
          <Context path="/api" docBase="${catalina.home}/../web" reloadable="true" useHttpOnly="true">
          </Context>
      </Host>
    </Engine>
  </Service>
</Server>
